<p id="notice"><%= notice %></p>

<h1>Details of <%= @book.title %> </h1>
<table>
	<tr>
		<th>Book Name</th>
		<th>Author</th>
		<th>Publisher</th>
		<th>Published On</th>
		<th>Created At</th>
		<th>Updated At</th>
	</tr>	
	<tr>
		<td><%= @book.title %></td>
		<td><%= @book.author.name %></td>
		<td><%= @book.publisher %></td>
		<td><%= @book.published_on %></td>
		<td><%= @book.created_at %></td>
		<td><%= @book.updated_at %></td>
	</tr>	
</table>	
<div>
	<h3>Review Comments</h3>
	<% @book.reviews.each do |review| %>
      <div>
      	Comment:<%= review.comment %><br />
      	Reviewer Name:<%= review.username %><br />
      	Created on :<%= review.created_at %><br />
      	Updated on :<%= review.updated_at %><br />
      </div>	
	<% end %>
</div>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
